*.venv
*.vscode
*__pycache__
*dataowner
*global_result
*.ipynb_checkpoints
*local_result
.DS_Store
*.png
*.log
*.edgelist
*.emb
*results
*.pkl
\data
\datasets
\logs
\build
\runs
*FedStruct.egg-info

!example_experiment_results/
!example_experiment_results/**
!final_results/